.table_box {
  margin-top: 25px;
  margin-bottom: 30px;
}
.transaction_table {
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
}

.table_head {
  background-color: #2f2f2f;
  color: white;
}

.table_row:nth-child(even) {
  background-color: #e2e2e2;
}

.table_row:nth-child(odd) {
  background-color: #ffffff;
}

.table_cell {
  border: 1px solid #ccc;
  padding: 10px;
}
